{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ author.first_name }} {{ author.last_name }}</h1>

  {% if author.date_of_death %}
    <p>{{ author.date_of_birth }} - {{ author.date_of_death }}</p>
  {% else %}
    <p>{{ author.date_of_birth }} -</p>
  {% endif %}


  {% if bo %}
  <p>{{ book.get_absolute_url }}Anup</p>
  <ul>
    {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}


{% endblock %}
